body {
  background-image: url(image.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#navbar {
  height: 75px;
  margin: -8px;
  background-color: black;
  display: flex;
  align-items: center;
  color: aliceblue;
  gap: 30px;
}

#navbar button {
  height: 40px;
  width: 100px;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

#login {
  margin-left: 1000px;
}

#navbar h1 {
  padding-left: 30px;
}

#home{
  margin-top: 200px;
  justify-content: center;
}